<!-- Statement of Marks Modal Component -->
<div id="statement-modal" class="modal-backdrop">
    <div class="modal-content" id="statement-content">
        <button class="btn-close-modal" data-modal="statement-modal"><i class="fa-solid fa-xmark"></i></button>
        <button class="action-btn" id="save-statement-btn" data-translate-title-key="save_statement_title"><i class="fa-solid fa-floppy-disk"></i></button>
        <h3 data-translate-key="statement_title">كشف النقاط</h3>
        <div id="statement-content-body">
            <div class="statement-header">
                <span>المقياس</span>
                <span>الرصيد</span>
                <span>المعامل</span>
                <span>المعدل</span>
            </div>
            <div id="statement-modules-list"></div>
        </div>
        <div id="statement-summary"></div>
        <img id="watermark-dark" class="logo-dark-theme" src="assets/logo-dark.png" alt="Watermark"/>
        <img id="watermark-light" class="logo-light-theme" src="assets/logo-light.png" alt="Watermark"/>
    </div>
</div>
